In [2]:
# import packages 
import pandas as pd
import numpy as np 
from datetime import datetime
import random
import psycopg2 
import csv

In [36]:
# setup database connection 
conn = psycopg2.connect("host='localhost' \
dbname='data-science'\
user='postgres' \
password='123Ht'")
cur = conn.cursor()

In [45]:

query_districts = "SELECT * FROM data_migration.districts"

In [46]:
# using postgres cursor 
cur.execute(query_districts)
data = cur.fetchall()

In [51]:
# using data frame read_sql
df_data = pd.read_sql(query_districts,conn)
df_data.head()

   id district_name          created_at          updated_at
0   1          Lira 2022-03-24 11:47:28 2022-03-24 11:47:28
1   2        Masaka 2022-03-24 11:47:28 2022-03-24 11:47:28
2   3       Kampala 2022-03-24 11:47:28 2022-03-24 11:47:28
3   4          Lira 2022-03-24 11:47:47 2022-03-24 11:47:47
4   5        Masaka 2022-03-24 11:47:47 2022-03-24 11:47:47

In [71]:
# data columns 
df_data.columns

Index(['id', 'district_name', 'created_at', 'updated_at'], dtype='object')

In [72]:
# generate csv file

In [76]:
df_data_csv = df_data.to_csv('/Users/mac/Desktop/rkimera/youtube_data_analysis/data-migration-script/src/districts.csv',
                                 encoding='utf-8', header = True,
         doublequote = True, sep=',', index=False)

In [77]:
# read csv file data

In [83]:
df = pd.read_csv('districts.csv')
df.head()

   id district_name           created_at           updated_at
0   1          Lira  2022-03-24 11:47:28  2022-03-24 11:47:28
1   2        Masaka  2022-03-24 11:47:28  2022-03-24 11:47:28
2   3       Kampala  2022-03-24 11:47:28  2022-03-24 11:47:28
3   4          Lira  2022-03-24 11:47:47  2022-03-24 11:47:47
4   5        Masaka  2022-03-24 11:47:47  2022-03-24 11:47:47

### Function to read data from csv file and create sql insert statement

In [92]:
def insert_data():
    with open('districts.csv', newline='',  encoding="utf8") as csvfile:
        next(csvfile)
        spamreader = csv.reader(csvfile)
        for row in spamreader:
            # Prepare SQL query to INSERT a record into the database.
                    
            sql = "INSERT INTO data_migration.tagert_districts(\
            id\
            district_name,created_at,updated_at)VALUES (%s,'%s','%s','%s');"%(row[0],row[1],row[2],row[3])
            print(sql)
            try:
               # Execute the SQL command
               cur.execute(sql)
               # Commit your changes in the database
               conn.commit()
            except:
               # Rollback in case there is any error
               conn.rollback()

In [93]:
# setup database connection 
conn = psycopg2.connect("host='localhost' \
dbname='data-science'\
user='postgres' \
password='123Ht'")
cur = conn.cursor()

In [94]:
# call the insert data function
insert_data()

INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (1,'Lira','2022-03-24 11:47:28','2022-03-24 11:47:28');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (2,'Masaka','2022-03-24 11:47:28','2022-03-24 11:47:28');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (3,'Kampala','2022-03-24 11:47:28','2022-03-24 11:47:28');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (4,'Lira','2022-03-24 11:47:47','2022-03-24 11:47:47');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (5,'Masaka','2022-03-24 11:47:47','2022-03-24 11:47:47');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (6,'Kampala','2022-03-24 11:47:47','2022-03-24 11:47:47');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (7,'Lira','2022-03-24 11:47:54','2022-03-24 11:47:54');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (8,'Masaka','2022-03-24 11:47:54','2022-03-24 11:47:54');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (9,'Kampala','2022-03-24 11:47:54','2022-03-24 11:47:54');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (10,'Lira','2022-03-24 11:50:05','2022-03-24 11:50:05');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (11,'Masaka','2022-03-24 11:50:05','2022-03-24 11:50:05');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (12,'Kampala','2022-03-24 11:50:05','2022-03-24 11:50:05');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (13,'Lira','2022-03-24 11:50:27','2022-03-24 11:50:27');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (14,'Masaka','2022-03-24 11:50:27','2022-03-24 11:50:27');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (15,'Kampala','2022-03-24 11:50:27','2022-03-24 11:50:27');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (16,'Lira','2022-03-24 11:50:33','2022-03-24 11:50:33');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (17,'Masaka','2022-03-24 11:50:33','2022-03-24 11:50:33');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (18,'Kampala','2022-03-24 11:50:33','2022-03-24 11:50:33');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (19,'Lira','2022-03-24 11:50:47','2022-03-24 11:50:47');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (20,'Masaka','2022-03-24 11:50:47','2022-03-24 11:50:47');
INSERT INTO data_migration.tagert_districts(            id            district_name,created_at,updated_at)VALUES (21,'Kampala','2022-03-24 11:50:47','2022-03-24 11:50:47');

In [82]:
conn.close()
print('Database connection Closed')

Database connection Closed